h1  {
	margin: 70px;
	text-align: center;
	font-size: 100px;
	}
	
h2 {
	text-align: center;
	}

.table .table-responsive .table-hover {
	margin : 50px 0 0 0 ;
	width: 400;
	border-collapse: collapse;
	}
	
.form-inline {
    margin: 5px;
    }

#welcome {
	color: white;
	
	}

.header1 {
	text-align: center;
	font-weight: bold;
	}

.form-horizontal{
	margin: 100px 10px 0 10px;
}

#submit1 {
	margin: 0 0 30px 0;
	}

ul {
list-style-type: none;
}
	
li {
	margin: 0 0 0 40px; 
}

#pictures {
	width: 400px;
    height: 400px;
    margin: 50px;
} 

.owe {
 font-weight: bold;
 font-size: 20px;
 text-align: center;
 
}

#pot1 {
	font-weight: bold;
 font-size: 30px;
 text-align: center;
	}
	
#pot2{
	margin: 0 0 0 60px;

	}
	
#transfer1{
	margin: 0 0 0 110px;
	}