h1  {
	margin: 70px;
	text-align: center;
	font-size: 100px;
	}

.table {
	margin : 40px;
	width: 400;
	
	}
	
.form-inline {
    margin: 30px;
    }







@media (max-width: 350px) {
	h1 {
		font-size: 50px; 
	}

}